# IPL AUCTION COLLECTING DATASETS

## SOLD PLAYERS IN AUCTION

### IMPORTING PACKAGES

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "https://www.iplt20.com/auction"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

## CSK AUCTION DATA

In [160]:
section1 = soup.find('section',{'class':"auction-tab-section auction-tabbed_panel ih-vbg-n ap-latest-news ap-no-bg-result col-100 floatLft relative"})
div=section1.find('div',{'id':"autab3-2022"})
section2=div.find('section' ,{'class':"ih-points-table-sec position-relative" ,'id':"CSK-inside"})
table=section2.find('table',{'id':"t3-chennai-super-kings"})

headers = []
for header in table.find_all('th'):
    headers.append(header.text.strip())
cells=[]
for row in table.find_all('tr')[1:]:  # Skip the header row
    for cell in row.find_all('td'):
        cells.append(cell.text.strip())
data=[]
for i in range(0,len(cells),6):
    data.append(cells[i:i+6])
df1=pd.DataFrame(data,columns=headers)

## DC AUCTION DATA

In [161]:
section1 = soup.find('section',{'class':"auction-tab-section auction-tabbed_panel ih-vbg-n ap-latest-news ap-no-bg-result col-100 floatLft relative"})
div=section1.find('div',{'id':"autab3-2022"})
section2=div.find('section' ,{'class':"ih-points-table-sec position-relative" ,'id':"DC-inside"})
table=section2.find('table',{'id':"t3-delhi-capitals"})
headers = []
for header in table.find_all('th'):
    headers.append(header.text.strip())
cells=[]
for row in table.find_all('tr')[1:]:  # Skip the header row
    for cell in row.find_all('td'):
        cells.append(cell.text.strip())
data=[]
for i in range(0,len(cells),6):
    data.append(cells[i:i+6])
df2=pd.DataFrame(data,columns=headers)
df2

   Sr. No.               Player   Base Price   Winning Bid Capped/Uncapped
0        1             KL Rahul  2,00,00,000  14,00,00,000          Capped
1        2       Mitchell Starc  2,00,00,000  11,75,00,000          Capped
2        3         T. Natarajan  2,00,00,000  10,75,00,000          Capped
3        4   Jake Fraser-Mcgurk  2,00,00,000   9,00,00,000          Capped
4        5         Mukesh Kumar  2,00,00,000   8,00,00,000          Capped
5        6          Harry Brook  2,00,00,000   6,25,00,000          Capped
6        7      Ashutosh Sharma    30,00,000   3,80,00,000        Uncapped
7        8         Mohit Sharma    50,00,000   2,20,00,000        Uncapped
8        9       Faf Du Plessis  2,00,00,000   2,00,00,000          Capped
9       10         Sameer Rizvi    30,00,000     95,00,000        Uncapped
10      11     Donovan Ferreira    75,00,000     75,00,000          Capped
11      12  Dushmantha Chameera    75,00,000     75,00,000          Capped
12      13         Vipraj Nigam    30,00,000     50,00,000        Uncapped
13      14           Karun Nair    30,00,000     50,00,000        Uncapped
14      15        Madhav Tiwari    30,00,000     40,00,000        Uncapped
15      16      Tripurana Vijay    30,00,000     30,00,000        Uncapped
16      17     Manvanth Kumar L    30,00,000     30,00,000        Uncapped
17      18          Ajay Mandal    30,00,000     30,00,000        Uncapped
18      19     Darshan Nalkande    30,00,000     30,00,000        Uncapped

## GT AUCTION DATA

In [162]:
section1 = soup.find('section',{'class':"auction-tab-section auction-tabbed_panel ih-vbg-n ap-latest-news ap-no-bg-result col-100 floatLft relative"})
div=section1.find('div',{'id':"autab3-2022"})
section2=div.find('section' ,{'class':"ih-points-table-sec position-relative" ,'id':"GT-inside"})
table=section2.find('table',{'id':"t3-gujarat-titans"})
headers = []
for header in table.find_all('th'):
    headers.append(header.text.strip())
cells=[]
for row in table.find_all('tr')[1:]:  # Skip the header row
    for cell in row.find_all('td'):
        cells.append(cell.text.strip())
data=[]
for i in range(0,len(cells),6):
    data.append(cells[i:i+6])
df3=pd.DataFrame(data,columns=headers)
df3

   Sr. No.               Player   Base Price   Winning Bid Capped/Uncapped
0        1         Jos  Buttler  2,00,00,000  15,75,00,000          Capped
1        2       Mohammad Siraj  2,00,00,000  12,25,00,000          Capped
2        3        Kagiso Rabada  2,00,00,000  10,75,00,000          Capped
3        4      Prasidh Krishna  2,00,00,000   9,50,00,000          Capped
4        5    Washington Sundar  2,00,00,000   3,20,00,000          Capped
5        6  Sherfane Rutherford  1,50,00,000   2,60,00,000          Capped
6        7       Gerald Coetzee  1,25,00,000   2,40,00,000          Capped
7        8       Glenn Phillips  2,00,00,000   2,00,00,000          Capped
8        9       R. Sai Kishore    75,00,000   2,00,00,000          Capped
9       10       Mahipal Lomror    50,00,000   1,70,00,000        Uncapped
10      11   Gurnoor Singh Brar    30,00,000   1,30,00,000        Uncapped
11      12    Mohd. Arshad Khan    30,00,000   1,30,00,000        Uncapped
12      13          Karim Janat    75,00,000     75,00,000          Capped
13      14         Jayant Yadav    75,00,000     75,00,000          Capped
14      15        Ishant Sharma    75,00,000     75,00,000          Capped
15      16       Kumar Kushagra    30,00,000     65,00,000        Uncapped
16      17   Kulwant Khejroliya    30,00,000     30,00,000        Uncapped
17      18         Manav Suthar    30,00,000     30,00,000        Uncapped
18      19           Anuj Rawat    30,00,000     30,00,000        Uncapped
19      20       Nishant Sindhu    30,00,000     30,00,000        Uncapped

## KKR AUCTION DATA

In [163]:
section1 = soup.find('section',{'class':"auction-tab-section auction-tabbed_panel ih-vbg-n ap-latest-news ap-no-bg-result col-100 floatLft relative"})
div=section1.find('div',{'id':"autab3-2022"})
section2=div.find('section' ,{'class':"ih-points-table-sec position-relative" ,'id':"KKR-inside"})
table=section2.find('table',{'id':"t3-kolkata-knight-riders"})
headers = []
for header in table.find_all('th'):
    headers.append(header.text.strip())
cells=[]
for row in table.find_all('tr')[1:]:  # Skip the header row
    for cell in row.find_all('td'):
        cells.append(cell.text.strip())
data=[]
for i in range(0,len(cells),6):
    data.append(cells[i:i+6])
df4=pd.DataFrame(data,columns=headers)
df4

   Sr. No.                Player   Base Price   Winning Bid Capped/Uncapped
0        1        Venkatesh Iyer  2,00,00,000  23,75,00,000          Capped
1        2         Anrich Nortje  2,00,00,000   6,50,00,000          Capped
2        3       Quinton De Kock  2,00,00,000   3,60,00,000          Capped
3        4  Angkrish Raghuvanshi    30,00,000   3,00,00,000        Uncapped
4        5       Spencer Johnson  2,00,00,000   2,80,00,000          Capped
5        6             Moeen Ali  2,00,00,000   2,00,00,000          Capped
6        7    Rahmanullah Gurbaz  2,00,00,000   2,00,00,000          Capped
7        8         Vaibhav Arora    30,00,000   1,80,00,000        Uncapped
8        9        Ajinkya Rahane  1,50,00,000   1,50,00,000          Capped
9       10         Rovman Powell  1,50,00,000   1,50,00,000          Capped
10      11          Umran  Malik    75,00,000     75,00,000          Capped
11      12         Manish Pandey    75,00,000     75,00,000          Capped
12      13            Anukul Roy    30,00,000     40,00,000        Uncapped
13      14       Luvnith Sisodia    30,00,000     30,00,000        Uncapped
14      15       Mayank Markande    30,00,000     30,00,000        Uncapped

## LSG AUCTION DATA

In [164]:
section1 = soup.find('section',{'class':"auction-tab-section auction-tabbed_panel ih-vbg-n ap-latest-news ap-no-bg-result col-100 floatLft relative"})
div=section1.find('div',{'id':"autab3-2022"})
section2=div.find('section' ,{'class':"ih-points-table-sec position-relative" ,'id':"LSG-inside"})
table=section2.find('table',{'id':"t3-lucknow-super-giants"})
headers = []
for header in table.find_all('th'):
    headers.append(header.text.strip())
cells=[]
for row in table.find_all('tr')[1:]:  # Skip the header row
    for cell in row.find_all('td'):
        cells.append(cell.text.strip())
data=[]
for i in range(0,len(cells),6):
    data.append(cells[i:i+6])
df5=pd.DataFrame(data,columns=headers)
df5

,Sr. No.,Player,Base Price,Winning Bid,Capped/Uncapped,
0,1,Rishabh Pant,"2,00,00,000","27,00,00,000",Capped,
1,2,Avesh Khan,"2,00,00,000","9,75,00,000",Capped,
2,3,Akash Deep,"1,00,00,000","8,00,00,000",Capped,
3,4,David Miller,"1,50,00,000","7,50,00,000",Capped,
4,5,Abdul Samad,"30,00,000","4,20,00,000",Uncapped,
5,6,Mitchell Marsh,"2,00,00,000","3,40,00,000",Capped,
6,7,Shahbaz Ahamad,"1,00,00,000","2,40,00,000",Capped,
7,8,Aiden Markram,"2,00,00,000","2,00,00,000",Capped,
8,9,Matthew Breetzke,"75,00,000","75,00,000",Capped,
9,10,Shamar Joseph,"75,00,000","75,00,000",Capped,
10,11,M. Siddharth,"30,00,000","75,00,000",Uncapped,
11,12,Arshin Kulkarni,"30,00,000","30,00,000",Uncapped,
12,13,Rajvardhan Hangargekar,"30,00,000","30,00,000",Uncapped,
13,14,Yuvraj Chaudhary,"30,00,000","30,00,000",Uncapped,
14,15,Prince Yadav,"30,00,000","30,00,000",Uncapped,
15,16,Akash Singh,"30,00,000","30,00,000",Uncapped,
16,17,Digvesh Singh,"30,00,000","30,00,000",Uncapped,
17,18,Himmat Singh,"30,00,000","30,00,000",Uncapped,
18,19,Aryan Juyal,"30,00,000","30,00,000",Uncapped,

## MI AUCTION DATA

In [165]:
section1 = soup.find('section',{'class':"auction-tab-section auction-tabbed_panel ih-vbg-n ap-latest-news ap-no-bg-result col-100 floatLft relative"})
div=section1.find('div',{'id':"autab3-2022"})
section2=div.find('section' ,{'class':"ih-points-table-sec position-relative" ,'id':"MI-inside"})
table=section2.find('table',{'id':"t3-mumbai-indians"})
headers = []
for header in table.find_all('th'):
    headers.append(header.text.strip())
cells=[]
for row in table.find_all('tr')[1:]:  # Skip the header row
    for cell in row.find_all('td'):
        cells.append(cell.text.strip())
data=[]
for i in range(0,len(cells),6):
    data.append(cells[i:i+6])
df6=pd.DataFrame(data,columns=headers)
df6

,Sr. No.,Player,Base Price,Winning Bid,Capped/Uncapped,
0,1,Trent Boult,"2,00,00,000","12,50,00,000",Capped,
1,2,Deepak Chahar,"2,00,00,000","9,25,00,000",Capped,
2,3,Will Jacks,"2,00,00,000","5,25,00,000",Capped,
3,4,Naman Dhir,"30,00,000","5,25,00,000",Uncapped,
4,5,Allah Ghazanfar,"75,00,000","4,80,00,000",Capped,
5,6,Mitchell Santner,"2,00,00,000","2,00,00,000",Capped,
6,7,Ryan Rickelton,"1,00,00,000","1,00,00,000",Capped,
7,8,Lizaad Williams,"75,00,000","75,00,000",Capped,
8,9,Reece Topley,"75,00,000","75,00,000",Capped,
9,10,Robin Minz,"30,00,000","65,00,000",Uncapped,
10,11,Karn Sharma,"50,00,000","50,00,000",Uncapped,
11,12,Vignesh Puthur,"30,00,000","30,00,000",Uncapped,
12,13,Arjun Tendulkar,"30,00,000","30,00,000",Uncapped,
13,14,Bevan John Jacobs,"30,00,000","30,00,000",Uncapped,
14,15,Venkata Satyanarayana Penmetsa,"30,00,000","30,00,000",Uncapped,
15,16,Raj Angad Bawa,"30,00,000","30,00,000",Uncapped,
16,17,Shrijith Krishnan,"30,00,000","30,00,000",Uncapped,
17,18,Ashwani Kumar,"30,00,000","30,00,000",Uncapped,

## PK AUCTION DATA

In [166]:
section1 = soup.find('section',{'class':"auction-tab-section auction-tabbed_panel ih-vbg-n ap-latest-news ap-no-bg-result col-100 floatLft relative"})
div=section1.find('div',{'id':"autab3-2022"})
section2=div.find('section' ,{'class':"ih-points-table-sec position-relative" ,'id':"PK-inside"})
table=section2.find('table',{'id':"t3-punjab-kings"})
headers = []
for header in table.find_all('th'):
    headers.append(header.text.strip())
cells=[]
for row in table.find_all('tr')[1:]:  # Skip the header row
    for cell in row.find_all('td'):
        cells.append(cell.text.strip())
data=[]
for i in range(0,len(cells),6):
    data.append(cells[i:i+6])
df7=pd.DataFrame(data,columns=headers)
df7

   Sr. No.              Player   Base Price   Winning Bid Capped/Uncapped
0        1        Shreyas Iyer  2,00,00,000  26,75,00,000          Capped
1        2    Yuzvendra Chahal  2,00,00,000  18,00,00,000          Capped
2        3      Arshdeep Singh  2,00,00,000  18,00,00,000          Capped
3        4      Marcus Stoinis  2,00,00,000  11,00,00,000          Capped
4        5        Marco Jansen  1,25,00,000   7,00,00,000          Capped
5        6       Nehal Wadhera    30,00,000   4,20,00,000        Uncapped
6        7       Glenn Maxwell  2,00,00,000   4,20,00,000          Capped
7        8       Priyansh Arya    30,00,000   3,80,00,000        Uncapped
8        9         Josh Inglis  2,00,00,000   2,60,00,000          Capped
9       10  Azmatullah Omarzai  1,50,00,000   2,40,00,000          Capped
10      11     Lockie Ferguson  2,00,00,000   2,00,00,000          Capped
11      12   Vyshak Vijaykumar    30,00,000   1,80,00,000        Uncapped
12      13         Yash Thakur    30,00,000   1,60,00,000        Uncapped
13      14      Harpreet  Brar    30,00,000   1,50,00,000        Uncapped
14      15        Aaron Hardie  1,25,00,000   1,25,00,000          Capped
15      16        Vishnu Vinod    30,00,000     95,00,000        Uncapped
16      17     Xavier Bartlett    75,00,000     80,00,000          Capped
17      18        Kuldeep  Sen    75,00,000     80,00,000          Capped
18      19        Pravin Dubey    30,00,000     30,00,000        Uncapped
19      20        Pyla Avinash    30,00,000     30,00,000        Uncapped
20      21    Suryansh  Shedge    30,00,000     30,00,000        Uncapped
21      22        Musheer Khan    30,00,000     30,00,000        Uncapped
22      23       Harnoor Pannu    30,00,000     30,00,000        Uncapped

## RR AUCTION DATA

In [167]:
section1 = soup.find('section',{'class':"auction-tab-section auction-tabbed_panel ih-vbg-n ap-latest-news ap-no-bg-result col-100 floatLft relative"})
div=section1.find('div',{'id':"autab3-2022"})
section2=div.find('section' ,{'class':"ih-points-table-sec position-relative" ,'id':"RR-inside"})
table=section2.find('table',{'id':"t3-rajasthan-royals"})
headers = []
for header in table.find_all('th'):
    headers.append(header.text.strip())
cells=[]
for row in table.find_all('tr')[1:]:  # Skip the header row
    for cell in row.find_all('td'):
        cells.append(cell.text.strip())
data=[]
for i in range(0,len(cells),6):
    data.append(cells[i:i+6])
df8=pd.DataFrame(data,columns=headers)
df8

   Sr. No.                 Player   Base Price   Winning Bid Capped/Uncapped
0        1           Jofra Archer  2,00,00,000  12,50,00,000          Capped
1        2       Tushar Deshpande  1,00,00,000   6,50,00,000          Capped
2        3      Wanindu Hasaranga  2,00,00,000   5,25,00,000          Capped
3        4     Maheesh Theekshana  2,00,00,000   4,40,00,000          Capped
4        5            Nitish Rana  1,50,00,000   4,20,00,000          Capped
5        6       Fazalhaq Farooqi  2,00,00,000   2,00,00,000          Capped
6        7          Kwena Maphaka    75,00,000   1,50,00,000          Capped
7        8          Akash Madhwal    30,00,000   1,20,00,000        Uncapped
8        9    Vaibhav Suryavanshi    30,00,000   1,10,00,000        Uncapped
9       10          Shubham Dubey    30,00,000     80,00,000        Uncapped
10      11         Yudhvir Charak    30,00,000     35,00,000        Uncapped
11      12           Ashok Sharma    30,00,000     30,00,000        Uncapped
12      13          Kunal Rathore    30,00,000     30,00,000        Uncapped
13      14  Kumar Kartikeya Singh    30,00,000     30,00,000        Uncapped

## RCB AUCTION DATA

In [168]:
section1 = soup.find('section',{'class':"auction-tab-section auction-tabbed_panel ih-vbg-n ap-latest-news ap-no-bg-result col-100 floatLft relative"})
div=section1.find('div',{'id':"autab3-2022"})
section2=div.find('section' ,{'class':"ih-points-table-sec position-relative" ,'id':"RCB-inside"})
table=section2.find('table',{'id':"t3-royal-challengers-bengaluru"})
headers = []
for header in table.find_all('th'):
    headers.append(header.text.strip())
cells=[]
for row in table.find_all('tr')[1:]:  # Skip the header row
    for cell in row.find_all('td'):
        cells.append(cell.text.strip())
data=[]
for i in range(0,len(cells),6):
    data.append(cells[i:i+6])
df9=pd.DataFrame(data,columns=headers)
df9

   Sr. No.             Player   Base Price   Winning Bid Capped/Uncapped
0        1     Josh Hazlewood  2,00,00,000  12,50,00,000          Capped
1        2          Phil Salt  2,00,00,000  11,50,00,000          Capped
2        3      Jitesh Sharma  1,00,00,000  11,00,00,000          Capped
3        4  Bhuvneshwar Kumar  2,00,00,000  10,75,00,000          Capped
4        5   Liam Livingstone  2,00,00,000   8,75,00,000          Capped
5        6         Rasikh Dar    30,00,000   6,00,00,000        Uncapped
6        7      Krunal Pandya  2,00,00,000   5,75,00,000          Capped
7        8          Tim David  2,00,00,000   3,00,00,000          Capped
8        9      Jacob Bethell  1,25,00,000   2,60,00,000          Capped
9       10      Suyash Sharma    30,00,000   2,60,00,000        Uncapped
10      11   Devdutt Padikkal  2,00,00,000   2,00,00,000          Capped
11      12     Nuwan Thushara    75,00,000   1,60,00,000          Capped
12      13   Romario Shepherd  1,50,00,000   1,50,00,000          Capped
13      14    Lungisani Ngidi  1,00,00,000   1,00,00,000          Capped
14      15      Swapnil Singh    30,00,000     50,00,000        Uncapped
15      16       Mohit Rathee    30,00,000     30,00,000        Uncapped
16      17   Abhinandan Singh    30,00,000     30,00,000        Uncapped
17      18   Swastik Chhikara    30,00,000     30,00,000        Uncapped
18      19     Manoj Bhandage    30,00,000     30,00,000        Uncapped

## SH AUCTION DATA

In [169]:
section1 = soup.find('section',{'class':"auction-tab-section auction-tabbed_panel ih-vbg-n ap-latest-news ap-no-bg-result col-100 floatLft relative"})
div=section1.find('div',{'id':"autab3-2022"})
section2=div.find('section' ,{'class':"ih-points-table-sec position-relative" ,'id':"SH-inside"})
table=section2.find('table',{'id':"t3-sunrisers-hyderabad"})
headers = []
for header in table.find_all('th'):
    headers.append(header.text.strip())
cells=[]
for row in table.find_all('tr')[1:]:  # Skip the header row
    for cell in row.find_all('td'):
        cells.append(cell.text.strip())
data=[]
for i in range(0,len(cells),6):
    data.append(cells[i:i+6])
df10=pd.DataFrame(data,columns=headers)
df10

   Sr. No.           Player   Base Price   Winning Bid Capped/Uncapped
0        1     Ishan Kishan  2,00,00,000  11,25,00,000          Capped
1        2   Mohammad Shami  2,00,00,000  10,00,00,000          Capped
2        3    Harshal Patel  2,00,00,000   8,00,00,000          Capped
3        4  Abhinav Manohar    30,00,000   3,20,00,000        Uncapped
4        5     Rahul Chahar  1,00,00,000   3,20,00,000          Capped
5        6       Adam Zampa  2,00,00,000   2,40,00,000          Capped
6        7  Simarjeet Singh    30,00,000   1,50,00,000        Uncapped
7        8    Eshan Malinga    30,00,000   1,20,00,000        Uncapped
8        9     Brydon Carse  1,00,00,000   1,00,00,000          Capped
9       10   Jaydev Unadkat  1,00,00,000   1,00,00,000          Capped
10      11   Kamindu Mendis    75,00,000     75,00,000          Capped
11      12   Zeeshan Ansari    30,00,000     40,00,000        Uncapped
12      13      Sachin Baby    30,00,000     30,00,000        Uncapped
13      14     Aniket Verma    30,00,000     30,00,000        Uncapped
14      15    Atharva Taide    30,00,000     30,00,000        Uncapped

In [171]:
df1.to_csv("CSK_Auction.csv",index=False)
df2.to_csv("DC_Auction.csv",index=False)
df3.to_csv("GT_Auction.csv",index=False)
df4.to_csv("KKR_Auction.csv",index=False)
df5.to_csv("LSG_Auction.csv",index=False)
df6.to_csv("MI_Auction.csv",index=False)
df7.to_csv("PK_Auction.csv",index=False)
df8.to_csv("RR_Auction.csv",index=False)
df9.to_csv("RCB_Auction.csv",index=False)
df10.to_csv("SH_Auction.csv",index=False)

## UNSOLD PLAYERS IN AUCTION

In [200]:
section1 = soup.find('section',{'class':"auction-tab-section auction-tabbed_panel ih-vbg-n ap-latest-news ap-no-bg-result col-100 floatLft relative"})
div=section1.find('div',{'id':"autab4-2022"})
table=div.find('table',{'id':'t5'})
headers = []
for header in table.find_all('th'):
    headers.append(header.text.strip())
cells=[]
for row in table.find_all('tr')[1:]:  # Skip the header row
    for cell in row.find_all('td'):
        cells.append(cell.text.strip())
data=[]
for i in range(0,len(cells),3):
    data.append(cells[i:i+3])
df=pd.DataFrame(data,columns=['PLAYER','BASE_PRICE','Capped/Uncapped'])
df

                  PLAYER   BASE_PRICE Capped/Uncapped
0           David Warner  2,00,00,000          Capped
1         Jonny Bairstow  2,00,00,000          Capped
2        Kane Williamson  2,00,00,000          Capped
3         Daryl Mitchell  2,00,00,000          Capped
4         Shardul Thakur  2,00,00,000          Capped
..                   ...          ...             ...
390         Akash Parkar    30,00,000        Uncapped
391     Tripuresh  Singh    30,00,000        Uncapped
392          Vijay Yadav    30,00,000        Uncapped
393  Saurabh Netravalkar    30,00,000        Uncapped
394        Hardik Tamore    30,00,000        Uncapped

[395 rows x 3 columns]

In [201]:
df.to_csv("UNSOLDED_PLAYERS_Auction.csv",index=False)

## TOP SOLD PLAYERS IN AUCTION

In [240]:
section1 = soup.find('section',{'class':"auction-tab-section auction-tabbed_panel ih-vbg-n ap-latest-news ap-no-bg-result col-100 floatLft relative"})
div=section1.find('div',{'class':"tab-pane fade",'id':"top-buys"})
table=div.find('table',{'id':'t4'})
cells=[]
for row in table.find_all('tr')[1:]:  # Skip the header row
    for cell in row.find_all('td'):
        cells.append(cell.text.strip())
data=[]
for i in range(0,len(cells),5):
    data.append(cells[i:i+5])
dft=pd.DataFrame(data,columns=['','PLAYER','BASE_PRICE','WINNING_BID',''])
dft

                 PLAYER   BASE_PRICE    WINNING_BID
0          Rishabh Pant  2,00,00,000  ₹27,00,00,000
1          Shreyas Iyer  2,00,00,000  ₹26,75,00,000
2        Venkatesh Iyer  2,00,00,000  ₹23,75,00,000
3        Arshdeep Singh  2,00,00,000  ₹18,00,00,000
4      Yuzvendra Chahal  2,00,00,000  ₹18,00,00,000
5          Jos  Buttler  2,00,00,000  ₹15,75,00,000
6              KL Rahul  2,00,00,000  ₹14,00,00,000
7           Trent Boult  2,00,00,000  ₹12,50,00,000
8          Jofra Archer  2,00,00,000  ₹12,50,00,000
9        Josh Hazlewood  2,00,00,000  ₹12,50,00,000
10       Mohammad Siraj  2,00,00,000  ₹12,25,00,000
11       Mitchell Starc  2,00,00,000  ₹11,75,00,000
12            Phil Salt  2,00,00,000  ₹11,50,00,000
13         Ishan Kishan  2,00,00,000  ₹11,25,00,000
14       Marcus Stoinis  2,00,00,000  ₹11,00,00,000
15        Jitesh Sharma  1,00,00,000  ₹11,00,00,000
16         T. Natarajan  2,00,00,000  ₹10,75,00,000
17        Kagiso Rabada  2,00,00,000  ₹10,75,00,000
18    Bhuvneshwar Kumar  2,00,00,000  ₹10,75,00,000
19           Noor Ahmad  2,00,00,000  ₹10,00,00,000

In [241]:
dft.to_csv("TOP_SOLDED_PLAYERS_Auction.csv",index=False)

## Collecting Images from Websites

In [38]:
url = "https://www.iplt20.com/auction"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
section=soup.find('section',{'class':'auction-tab-section auction-tabbed_panel ih-vbg-n ap-latest-news ap-no-bg-result col-100 floatLft relative'})
div=section.find('div',{'class':'auc-round-logo'})
image=[]
for a in div.find_all('a'):
    for img in a.find_all('img'):
        image.append(img['src'])
filename=['CSKroundbig.png',
 'DCroundbig.png',
 'GTroundbig.png',
 'KKRroundbig.png',
 'LSGroundbig.png',
 'MIroundbig.png',
 'PBKSroundbig.png',
 'RRroundbig.png',
 'RCBroundbig.png',
 'SRHroundbig.png']

In [39]:
try:
    for i in range(len(image)):
        response=requests.get(image[i])
        with open(filename[i],'wb')as file:
            file.write(response.content)
except:
    print("FILE ALREADY EXISTS")

In [40]:
IMG="https://documents.iplt20.com//ipl/assets/images/ipl-logo-new-old.png"
FILENAME='ipl-logo-new-old.png'
try:
    response=requests.get(IMG)
    with open(FILENAME,'wb')as file:
        file.write(response.content)
except:
    print("FILE ALREADY EXISTS")

In [44]:
image

['https://documents.iplt20.com/ipl/franchises/1731684872_1702465555_CSKroundbig.png',
 'https://documents.iplt20.com/ipl/franchises/1731685245_1702465727_DCroundbig.png',
 'https://documents.iplt20.com/ipl/franchises/1731685262_1702465836_GTroundbig.png',
 'https://documents.iplt20.com/ipl/franchises/1731685297_1702465948_KKRroundbig.png',
 'https://documents.iplt20.com/ipl/franchises/1731684320_1702466030_LSGroundbig.png',
 'https://documents.iplt20.com/ipl/franchises/1731684308_1702466090_MIroundbig.png',
 'https://documents.iplt20.com/ipl/franchises/1731685190_1702466143_PBKSroundbig.png',
 'https://documents.iplt20.com/ipl/franchises/1731685089_1702466295_RRroundbig.png',
 'https://documents.iplt20.com/ipl/franchises/1731684948_1702466217_RCBroundbig.png',
 'https://documents.iplt20.com/ipl/franchises/1731685022_1702466366_SRHroundbig.png']

In [61]:
team=['Chennai Super Kings',
     'Delhi Capitals',
     'Gujarat Titans',
     'Kolkata Knight Riders',
     'Lucknow Super Giants',
     'Mumbai Indians',
     'Punjab Kings',
     'Rajasthan Royals',
     'Royal Challengers Bengaluru',
     'Sunrisers Hyderabad']
df=pd.DataFrame({'Team':team,'Team_Logo':image})
df

In [64]:
df.to_csv("Team logo.csv",index=False)